$body-color: linear-gradient(90deg, #c7c5f4, #776bcc);
$primary-color: #5d54a4;
$white-color: #ffffff;


$body-color-primary: #eff3f8;
$color-primary: #5d54a4;
$color-primary-text: #ffffff;


$body-color-dark: #1d1e27;
$color-dark: #ffffff;
$color-dark-text: #ffffff;
$side-nav-dark: #282936;
